*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.badGuy {
    position: absolute;
    display:flex;
    align-content: flex-end;
    justify-content: flex-end
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.container {
    padding: 25px calc((100vw - 960px) / 2);
    
}
.container:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180);
    min-height: 100vh;
}
#game {
    width: 640px;
    height: 640px;
    position: absolute;
    background-image: url(pics/chessSet.png);
    background-size: 100% 100%;
}



.player {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 480px;
    left: 320px;
    transition: all 80ms ease-out;
    
}

/*pieces*/

.bk {
    width: 50px;
    height:50px;
}

.wq {
    width: 50px;
    height:50px;
}

.wr {
    width: 50px;
    height:50px;
}

.wb {
    width: 50px;
    height:50px;
}

.wn {
    width: 50px;
    height:50px;
}

/* tiles */

.a1 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 560px;
    left: 0px;
}

.a2 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 480px;
    left: 0px;
}

.a3 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 400px;
    left: 0px;
}

.a4 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 320px;
    left: 0px;   
}

.a5 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 240px;
    left: 0px;
}

.a6 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 160px;
    left: 0px;
    
}

.a7 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 80px;
    left: 0px;
    
}

.a8 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    
}

.b1 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 560px;
    left: 80px;
}

.b2 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 480px;
    left: 80px;
    
}

.b3 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 400px;
    left: 80px;
    
}

.b4 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 320px;
    left: 80px;
    
}

.b5 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 240px;
    left: 80px;
    
}

.b6 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 160px;
    left: 80px;
    
}

.b7 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 80px;
    left: 80px;
    
}

.b8 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 80px;
    
}

.c1 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 560px;
    left: 160px;
}

.c2 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 480px;
    left: 160px;
    
}

.c3 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 400px;
    left: 160px;
    
}

.c4 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 320px;
    left: 160px;
    
}

.c5 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 240px;
    left: 160px;
    
}

.c6 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 160px;
    left: 160px;
    
}

.c7 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 80px;
    left: 160px;
    
}

.c8 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 160px;
    
}

.d1 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 560px;
    left: 240px;
}

.d2 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 480px;
    left: 240px;
    
}

.d3 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 400px;
    left: 240px;
    
}

.d4 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 320px;
    left: 240px;
    
}

.d5 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 240px;
    left: 240px;
    
}

.d6 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 160px;
    left: 240px;
    
    
}

.d7 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 80px;
    left: 240px;
    
}

.d8 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 240px;
    
}

.e1 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 560px;
    left: 320px;
}

.e2 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 480px;
    left: 320px;
    
}

.e3 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 400px;
    left: 320px;
    
}

.e4 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 320px;
    left: 320px;
    
}

.e5 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 240px;
    left: 320px;
    
}

.e6 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 160px;
    left: 320px;
    
}

.e7 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 80px;
    left: 320px;
    
}

.e8 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 320px;
    
}

.f1 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 560px;
    left: 400px;
}


.f2 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 480px;
    left: 400px;
    
}

.f3 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 400px;
    left: 400px;
    
}

.f4 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 320px;
    left: 400px;
    
}

.f5 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 240px;
    left: 400px;
    
}

.f6 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 160px;
    left: 400px;
    
}

.f7 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 80px;
    left: 400px;
    
}

.f8 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 400px;
    
}

.g1 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 560px;
    left: 480px;
}


.g2 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 480px;
    left: 480px;
    
}

.g3 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 400px;
    left: 480px;
    
}

.g4 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 320px;
    left: 480px;
    
}

.g5 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 240px;
    left: 480px;
    
}

.g6 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 160px;
    left: 480px;
    
}

.g7 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 80px;
    left: 480px;
    
}

.g8 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 480px;
    
}

.h1 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 560px;
    left: 560px;
}


.h2 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 480px;
    left: 560px;
    
}

.h3 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 400px;
    left: 560px;
    
}

.h4 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 320px;
    left: 560px;
    
}

.h5 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 240px;
    left: 560px;
    
}

.h6 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 160px;
    left: 560px;
    
}

.h7 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 80px;
    left: 560px;
    
}

.h8 {
    margin: 12px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 560px;
    
}







/* 
old...messy code 
.blackTile {
    width: 65px;
    height:65px;
    background-color: burlywood;
    position: relative;
    
}
.whiteTile {
    width: 65px;
    height:65px;
    background-color: beige;
    position: relative;
    
    
}

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: center
}
.row3 {
    display: flex;
    flex-direction: row;
    justify-content: center
}
.row4 {
    display: flex;
    flex-direction: row;
    justify-content: center
}
.row5 {
    display: flex;
    flex-direction: row;
    justify-content: center
}
.row6 {
    display: flex;
    flex-direction: row;
    justify-content: center
}
.row7 {
    display: flex;
    flex-direction: row;
    justify-content: center
}
.row8 {
    display: flex;
    flex-direction: row;
    justify-content: center
}

